<input type="checkbox" id="offcanvas-toggle-main-menu-mobile" class="offcanvas-toggle">
<label class="offcanvas-overlay" for="offcanvas-toggle-main-menu-mobile"></label>
<div class="nav-bar nav-bar-mobile main-menu-mobile custom__nav-bar--offcanvas">
  <nav class="nav-main" role="navigation">

    <ul class="nav-main__list nav-main--mobile">
      <li class=" nav-main__item--active">
        <a href="/" class=" nav-main__anchor--active" data-tracking="menu - main - level 1 | 1">Futurezone</a>
      </li>
      <li class=" nav-main__section-netzpolitik">
        <a href="/netzpolitik/" data-tracking="menu - main - level 1 | 2">Netzpolitik</a>
      </li>
      <li class=" nav-main__section-b2b">
        <a href="/b2b/" data-tracking="menu - main - level 1 | 3">B2B</a>
      </li>
      <li class=" nav-main__section-produkte">
        <a href="/produkte/" data-tracking="menu - main - level 1 | 4">Produkte</a>
      </li>
      <li class=" nav-main__section-digitallife">
        <a href="/digital-life/" data-tracking="menu - main - level 1 | 5">Digital Life</a>
      </li>
      <li class=" nav-main__section-science">
        <a href="/science/" data-tracking="menu - main - level 1 | 6">Science</a>
      </li>
      <li class=" nav-main__section-meinung">
        <a href="/meinung/" data-tracking="menu - main - level 1 | 7">Meinung</a>
      </li>
      <li class=" nav-main__section-games">
        <a href="/games/" data-tracking="menu - main - level 1 | 8">Games</a>
      </li>
      <li class=" nav-main__section-apps">
        <a href="/apps/" data-tracking="menu - main - level 1 | 9">Apps</a>
      </li>
      <li class=" nav-main__section-startups">
        <a href="/start-ups/" data-tracking="menu - main - level 1 | 10">Start-ups</a>
      </li>
      <li class=" nav-main__section-community">
        <a href="/community/" data-tracking="menu - main - level 1 | 11">Community</a>
      </li>
    </ul>
  </nav>
</div>
