<header class="header">
  <div class="header-top">
    <label class="offcanvas-toggle-label" for="offcanvas-toggle-main-menu-mobile">
      <span class="offcanvas-toggle-icon"></span>
    </label>
    <div class="social-channels">
      <div class="social-channels__icon social-channels__facebook">
        <a href="https://www.facebook.com/futurezone.funke/" target="_blank" title="zum Facebook Channel von Futurezone"></a>
      </div>
      <div class="social-channels__icon social-channels__twitter">
        <a href="https://twitter.com/futurezone_de" target="_blank" title="zum Twitter Channel von Futurezone"></a>
      </div>
      <div class="social-channels__icon social-channels__instagram">
        <a href="https://www.instagram.com/futurezone_de/" target="_blank" title="zum Instagram Channel von Futurezone"></a>
      </div>
    </div>
    <nav class="nav-meta service-menu" role="navigation">
    </nav>
    <div class="logo">

      {# this h1 is only valid for home, for sections and articles the last element in breadcrumb is the one and only h1 #}

      <h1>
        <a href="/">
          <span class="portalname">
              <img src="/img/logo-head.svg" x="0" y="0" height="100%" width="100%" alt="Futurezone Logo">
              <div class="portalname--text">Futurezone</div>
          </span>
        </a>
      </h1>
    </div>
    <div class="meta-menu">
      <span class="icon icon--search toggle-search"></span>
    </div>
  </div>
  <div class="search-bar">
    <div class="errorSearchMessage">Bitte geben Sie einen Suchbegriff ein.</div>
    <span class="toggle-search">schließen</span>
    <div class="search-bar-input-wrapper">
      <div class="form-fields">
        <input class="form-fields-search" type="search" placeholder="Suchbegriff">
      </div>
      <div class="form-actions">Finden</div>
    </div>
  </div>
  <div class="nav-bar main-menu">
    <nav class="nav-main" role="navigation">
      <ul class="nav-main__list nav-main--major">
        <li class=" nav-main__section-netzpolitik">
          <button class="nav-main__toggle-sub open"></button>
          <a href="/netzpolitik/"  data-tracking="menu - main - level 1 | 12">Netzpolitik</a>
        </li>
        <li class=" nav-main__section-b2b">
          <button class="nav-main__toggle-sub open"></button>
          <a href="/b2b/"  data-tracking="menu - main - level 1 | 13">B2B</a>
        </li>
        <li class=" nav-main__section-produkte">
          <button class="nav-main__toggle-sub open"></button>
          <a href="/produkte/"  data-tracking="menu - main - level 1 | 14">Produkte</a>
        </li>
        <li class=" nav-main__section-digitallife">
          <button class="nav-main__toggle-sub open"></button>
          <a href="/digital-life/"  data-tracking="menu - main - level 1 | 15">Digital Life</a>
        </li>
        <li class=" nav-main__section-science">
          <button class="nav-main__toggle-sub open"></button>
          <a href="/science/"  data-tracking="menu - main - level 1 | 16">Science</a>
        </li>
        <li class=" nav-main__section-meinung">
          <button class="nav-main__toggle-sub open"></button>
          <a href="/meinung/"  data-tracking="menu - main - level 1 | 17">Meinung</a>
        </li>
        <li class=" nav-main__section-games">
          <button class="nav-main__toggle-sub open"></button>
          <a href="/games/"  data-tracking="menu - main - level 1 | 18">Games</a>
        </li>
        <li class=" nav-main__section-apps">
          <button class="nav-main__toggle-sub open"></button>
          <a href="/apps/"  data-tracking="menu - main - level 1 | 19">Apps</a>
        </li>
        <li class=" nav-main__section-startups">
          <button class="nav-main__toggle-sub open"></button>
          <a href="/start-ups/"  data-tracking="menu - main - level 1 | 20">Start-ups</a>
        </li>
        <li class=" nav-main__section-community">
          <button class="nav-main__toggle-sub open"></button>
          <a href="/community/"  data-tracking="menu - main - level 1 | 21">Community</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="trending-bar">
    <ul class="trending-bar__list">
      <li class="trending-bar__list__item trending-bar__headline">Trending-Themen:</li>
      <li class="trending-bar__list__item">
        <a href="/themen/Apple/"> #Apple</a>
      </li>
      <li class="trending-bar__list__item">
        <a href="/themen/Banking/"> #Banking</a>
      </li>
      <li class="trending-bar__list__item">
        <a href="/themen/Datenschutz/"> #Datenschutz</a>
      </li>
      <li class="trending-bar__list__item">
        <a href="/themen/EU/"> #EU</a>
      </li>
      <li class="trending-bar__list__item">
        <a href="/themen/Ratgeber/"> #Ratgeber</a>
      </li>
      <li class="trending-bar__list__item">
        <a href="/themen/Instagram/"> #Instagram</a>
      </li>
    </ul>
  </div>
  <div id="fwid0" class="redirect-notification" style="display: none">
    <p>
      Herzlich willkommen bei futurezone.de! Zu futurezone.at geht es <a href class='redirect-link'>hier</a>
    </p>
    <div class="redirect-close"></div>
  </div>
</header>
