{% extends "layout.twig" %}

{% block navigation_mobile %}
    {% include "_navigation-mobile.twig" %}
{% endblock %}

{% block navigation %}
    {% include "_navigation.twig" %}
{% endblock %}

{% block content %}

    <div class="container-main clearfix">
        <section class="container-stream">
            <h1>HOME</h1>
        </section>
    </div>

{% endblock %}

{% block footer %}
    {% include "_footer.twig" %}
{% endblock %}
