{% extends "layout.twig" %}

{% block navigation_mobile %}
    {% include "_navigation-mobile.twig" %}
{% endblock %}

{% block navigation %}
    {% include "_navigation.twig" %}
{% endblock %}

{% block content %}

    <section class="container-stream">
      <h1>HUHU</h1>
    </section>

{% endblock %}
